body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 20px auto;
    flex-grow: 1; /* Занимает доступное пространство */
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #5c67f2;
    color: white;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details h2 {
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    margin-bottom: 10px;
}

    .form-row label {
        display: block;
        margin-bottom: 5px;
        color: #666;
    }

    .form-row input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* Makes sure the padding does not affect the width */
    }

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .buttons button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        background-color: #5c67f2;
        color: white;
        outline: none;
    }

    .buttons .cancel {
        background-color: #f44336;
    }

    .buttons button:hover {
        opacity: 0.9;
    }
